*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(image/back\ 7.jpg);
    /* background-size: cover; */
    
    font-family: 'Poppins',sans-serif;
    padding: 10px 10%;
    border-bottom: 5px solid rgb(227, 21, 223);

    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 150px;
    
    

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 40px 50px;
    background: linear-gradient(to right, #ffffff 0%, #ff99ff 100%);
    padding: 20px;
    border-radius: 35px;
    transition: 0.1s;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
nav ul li:hover{
    box-shadow: 0 8px 16px 0 rgba(122, 234, 17, 0.999), 0 6px 20px 0 rgba(0,0,0,0.19);
}

nav ul li i{
    color: darkslategray;
    font-size: 20px;
    display: inline-block;
    
    
}
nav ul li a{
    color: darkslategray;
    text-decoration:none;
    font-size: 20px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    
}
.header-text p{
    color: #fff;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    color: #fff;
}

.header-text h1 span{
    color:darkmagenta;
}

#about{
    padding: 80px 0;
    color: #ababab;
    background-color: transparent;
    height:100vh;
    width: 100%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 10%;
   
    border-radius: 180px;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 video{
    width: 100%;
    border-radius: 65px;
    height: auto;
    object-fit: cover;
    padding: 30px;
    
    
}
.about-col-2{
    flex-basis: 60%;
    font-size: 20px;
    color:darkgreen;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    padding: 10px;
    background: linear-gradient(to bottom, #ff9999 0%, #0099cc 100%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 123, 123, 0.8);
    border-radius: 15px 50px 30px 5px ;
    text-align: center;
    border-left: 5px solid deeppink;
    border-bottom: 5px solid deeppink;

}
.about-col-2 .button{
    text-align: right;
    padding: 5px;
    margin: 40px;
}
.sub-title{
    font-size: 65px;
    padding: 10px;
    color:darkred;
    cursor: pointer;
   
}

button{
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 25px;
    background: linear-gradient(to bottom, #ffcccc 0%, #66ffff 100%);
    font-size: 20px;
    border: none;
    font-family: sans-serif;
}
button a{
    text-decoration: none;
    color: blue;
    

}

/*  donation      */

.donation{
    font-size: 50px;
    padding: 20px 15%;
    text-align: center;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color:indigo ;
    transition: 0.1ms;
    width: 100%;
    font-family: "Mate SC", serif;
    cursor: pointer;
    border-left: 30px solid #ff004f;
    border-top-left-radius: 155px;
    border-top-right-radius: 155px;
    border-right: 30px solid #ff004f;
    border-bottom:10px solid #ff004f;
    border-top:10px solid #ff004f;


    

}
.donation:hover{
    color: blue;

}

#iwt{
    padding: 80px 0;
    color: #ababab;
    background-color:#000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 10%;
    cursor: pointer;
    
}

.iwt-col-1{
    flex-basis: 35%;
    height: auto;
    object-fit: cover;
}
.iwt-col-1 img{
    max-width: 100%;
    border-radius: 30px;
    border-bottom: 5px solid darkturquoise;
}
.iwt-col-2 h1{
    color:lightyellow;
    padding: 20px;
    font-size: 50px;
    margin: 20px;
    text-align: center;
    background: linear-gradient(to right, #0000ff 0%, #800000 100%);
    border-radius: 15px;

}
.iwt-col-2{
    flex-basis: 45%;
    font-size: 20px;
    color: darkblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 15px 60px ;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); */
    box-shadow: 10px 10px 5px 12px greenyellow;
    
    
}
#afforest{
    display: flex;
    padding: 80px;
    background-color: #000;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 10%;

}
.afforest-col-1{
    flex-basis: 35%;
    height: auto;
    object-fit: cover;
}
.afforest-col-1 img{
    max-width: 100%;
    border-radius: 30px;
    border-bottom: 5px solid darkturquoise;
}
.afforest-col-2 h1{
    background: linear-gradient(to right, #ffcccc 0%, #66ff66 100%);
    color: darkgreen;
    font-size: 50px;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    margin: 20px;

}

.afforest-col-2{
    flex-basis: 45%;
    font-size: 20px;
    color: darkblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 20px 70px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);*/
    box-shadow: 10px 10px 5px 12px greenyellow;

}

#plastic{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    background-color: #000;
    flex-wrap: wrap;
    padding: 70px 10%;
}
.plastic-col-1{
    flex-basis: 35%;
    height: auto;
    object-fit: cover;
}
.plastic-col-1 img{
    max-width: 100%;
    border-radius: 30px;
    border-bottom: 5px solid darkturquoise;
}
.plastic-col-2 h1 {
    background: linear-gradient(to bottom, #ff66cc 0%, #33ccff 100%);
    color: #0000ff;
    font-size: 50px;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.plastic-col-2{
    flex-basis: 45%;
    font-size: 20px;
    color: darkblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 15px 50px 30px 5px;
    box-shadow: 10px 10px 5px 12px greenyellow;
}

/* feedback */
#suggest{
    display:flex ;
    justify-content: space-between;
    height: auto;
    background: linear-gradient(to bottom, #33ccff 0%, #0033cc 100%);
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 70px 10%;
    
}

.suggest-col-1{
    color: #fff;
    font-size: 60px;
    padding: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 15px 50px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    box-shadow: 10px 10px lightblue;
}
    
.suggest-col-1 span{
    color: red;
    margin: 125px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

form h1{
    color: #000;
    text-align: center;
    padding: 10px;
    font-size: 60px;
    background-color: darkolivegreen;
    border-radius: 70px;
    font-family: "Permanent Marker", cursive;
    text-shadow: 1px 1px 2px #fff, 0 0 25px #fff, 0 0 5px #fff;
}
    
    
input[type=radio] {
    accent-color: green;
  }
  
label{
    font-size: 30px;
    padding: 10px;
}
form p{
    font-size: 30px;
}
form label{
    padding: 20px;
}

#reset{
    padding: 10px;
    margin: 20px;
    background:#ababab;
    color: #000;
    border-radius: 15px;
}
#submit{
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    background-color: green;
    color: white;
}
#email{
    padding: 10px;
}
#name{
    padding: 10px;
}
#phone{
    padding: 10px;
}
#remarks{
    resize: none;
}
.col2 form{
    flex-basis: 80%;
    font-size: 20px;
    color: darkblue;
    font-family:'Times New Roman', Times, serif ;
    padding: 10px;
    background-color: white;
    border-radius: 5px 50px;
    box-shadow: 0 0 100px rgba(18, 241, 100, 0.8);
}


hr{
    color: #fff; 
    border: 2px solid #fff;
}



.foot-2{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    color: darkblue;
    padding: 40px;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    font-size: 40px;
    

    
}
.foot-2 ul li{
    list-style-type: none;
    display: inline-block;
}
  
.foot-2 ul li a{
    margin: 20px;
    text-decoration: none;
    color: white;
}
.foot-2 footer p{
    padding: 30px;
    font-size: 70px;
   

}
#insta{
    color: rgb(232, 23, 155);
}
#face{
    color: rgb(0, 166, 255);
}
#link{
    color: rgb(0, 119, 255);
}
#tweet{
    color: rgb(0, 170, 255);
}


.foot{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    justify-content: end;
    
}